.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
    &.mat-drawer-opened {
      width: 200px;
    }
    &.mat-drawer-closed {
      width: 60px;
    }
  }
  
  mat-toolbar {
    background: #3f51b5;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  mat-nav-list {
    margin-top: 10px;
    a {
      padding-left: 20px;
      span {
        padding-left: 10px;
      }
    }
  }
  img{
    height: 40px;;
  }